@font-face {
  font-family: Orbitron;
  src: url(Orbitron-Black.ttf);
}
html * {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  color: #d0d0ce;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: black;
  padding: 24px;
}

aside {
  position: fixed;
  top: 100px;
  flex: 1;
}
header {
  display: flex;
  position: fixed;
  top: 24px;
}
form.menue {
  display: flex;
}
footer {
  display: flex;
  position: fixed;
  width: calc(100% - 48px);
  height: 64px;
  bottom: 24px;
  padding: 24px;
}
footer > #download {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
#download > button {
  margin: 0 24px;
}
#help {
  font-family: Orbitron, sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
}

#helpcontent {
  visibility: hidden;
}
#infobox {
  position: absolute;
  right: 0;
  display: flex;
  align-items: flex-end;
  color: #6800e7;
  margin-left: auto;
}

#infobox > a {
  color: #6800e7;
  font-family: sans-serif;
  font-size: 1vw;
  text-decoration: none;
}

#infobox > a:hover {
  color: #05b9ec;
}
h3 {
  font-family: Orbitron, sans-serif;
  color: #b239ff;
}
input {
  margin-right: 24px;
  height: 100%;
}

[type='radio']:not(:checked) + label {
  opacity: 0;
}
[type='radio']:checked + label {
  opacity: 1;
}

/* Scale canvas with resize attribute to full size */
canvas {
  width: 100%;
  height: 100%;
}
/* canvas[resize] {
  width: 100%;
  height: 99%;
} */

textarea,
input[type='text'] {
  font-size: 24px;
  border: none;
  color: #b239ff;
  font-family: sans-serif;
  padding: 5px;
  background-color: transparent;
  border: 2px solid #b239ff;
  padding: 8px 16px;
}

button {
  display: block;
  /*height: 40px;*/
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  color: #b239ff;
  border: 2px solid #b239ff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  padding: 8px 16px;
  background-color: transparent;
}

button:hover {
  color: #006699;
  border: 2px solid #006699;
}

.template {
  box-sizing: content-box;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  margin: 3px;
}

.pixel {
  width: 10px;
  height: 10px;
  float: left;
}

#color-options {
  display: flex;
}

#color-options .wrapper {
  width: 64px;
  height: 64px;
  margin-left: 12px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#color-options input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#color-options label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
